.tooltipWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 0.5rem;
}

.tooltipIcon {
  width: 20px;
  height: 20px;
  color: #f1c40f;
}

.tooltipBox {
  position: absolute;
  top: -60px;
  right: -20px;
  width: 230px;
  padding: 0.8rem;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  color: #856404;
  border-radius: 8px;
  font-size: 0.85rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
}

.tooltipWrapper:hover .tooltipBox {
  display: block;
}
