DATABASE_URL="mysql://root:nossozelo123@localhost:3306/nossozelo_db"
JWT_ADMIN_SECRET="troque-por-uma-chave-com-pelo-menos-32-caracteres"
NEXT_PUBLIC_APP_NAME="Controlador NossoZelo"
MASTER_ADMIN_EMAIL="master@master.master"
CRON_SECRET="troque-por-um-segredo-forte-para-cron-com-32-caracteres"
ASAAS_ENVIRONMENT="sandbox"
ASAAS_API_KEY=""
ASAAS_WEBHOOK_TOKEN="token-forte-gerado-no-painel-asaas"
ASAAS_BASE_URL="https://api-sandbox.asaas.com/v3"
PORT="3001"
